{% extends "DrugiComp/base.html" %}
{% block content %}
	<h1>About Page</h1>
	<p>We are four master’s students in Molecular Biotechnology and Bioinformatics developing this Web-side. We provide an independent drug-interaction information website available for you on the internet. This information allows you to understand the outcome of combining and consuming drugs with other drugs or substances and thus minimize the corresponding health problems.
 	<h3>Caution</h3>
 	<p>An important note is that, even if we will try to make our information as authentic as we can, we still would advise our users to consult a doctor if they are still uncertain about the situation. Moreover, our solution will be general, as we can not tailor it to every individual user, even though we aim to incorporate some user specifications as mentioned earlier. Interactions vary from person to person given their individual conditions there is no guarantee that our prescribed solutions or information would be 100% helpful as everyone is different and have the potential to react differently.</p>
{% endblock content %}
