{% extends "DrugiComp/base.html" %}
{% block content %}
<div class="row">
<div class="col-md-8">
<form action="{% url 'DrugiComp-home' %}" method="POST">
	{% csrf_token %}
	<script>
		var cnt=2;
		var ldrugs=[];
		{% for drug in nd %}
			ldrugs.push('{{drug}}');
		{% endfor %}
		function addField(){
			if(cnt<5){
				cnt=parseInt(cnt)+parseInt(1);
				var input = document.createElement("INPUT");
				input.setAttribute("list", "drugs");
				input.type="text";
				input.name="drug"+cnt;
				input.placeholder="Enter drug "+cnt;
				input.className = "form_text";
				document.getElementById("container").appendChild(input);
				var datalist = document.createElement("DATALIST");
				datalist.setAttribute("id", "drugs");
				document.getElementById("container").appendChild(datalist);
				while (document.getElementById("drugs").hasChildNodes()) {
					document.getElementById("drugs").removeChild(datalist.lastChild);
	        	}
				for (i=0;i<ldrugs.length;i++){
					var option = document.createElement("OPTION");
					option.setAttribute("value", ldrugs[i]);
					document.getElementById("drugs").appendChild(option);
				}
			}
			else{
				document.getElementById("addbutton").disabled=true;
			}
		}
	</script>
	<h3>Interaction Checker</h3><hr>
	<input type="text" list="drug1" name="drug1" placeholder="Enter drug 1" class="form_text" style="border-color: #DDE5D9">
	<datalist id="drug1">
		{% for drug in nd %}
			<option value="{{ drug }}">
		{% endfor %}
	</datalist>
	<input type="text" list="drug2" name="drug2" placeholder="Enter drug 2" class="form_text" style="border-color: #DDE5D9">
	<datalist id="drug2">
		{% for drug in nd %}
			<option value="{{ drug }}">
		{% endfor %}
	</datalist>
	<div id="container"></div>
	<input type="button" id="addbutton" value="+" onclick="addField()" STYLE="border-color:#82A684; background-color:#EDEEEA ; color:#000000"/>
	<h4>Optional information about yourself that we use to our statistics page</h4>
		<input list="age" name="age" placeholder="Age" style="border-color: #DDE5D9">
		<datalist id="age">
			<option value="Under 15">
			<option value="15-25">
			<option value="26-40">
			<option value="41-60">
			<option value="Over 60">
		</datalist>
		<br>
		<input list="gender" name="gender" placeholder="Gender" style="border-color: #DDE5D9">
		<datalist id="gender">
			<option value="Male">
			<option value="Female">
			<option value="Other / Do not want to state">
		</datalist>
		<br>
		<input list="continent" name="continent" placeholder="Continent" style="border-color: #DDE5D9">
		<datalist id="continent">
			<option value="Africa">
			<option value="Antarctica">
			<option value="Asia">
			<option value="Australia">
			<option value="Europe">
			<option value="North America">
			<option value="South America">
		</datalist>
		<br><br>
	<input type='submit' value='Try!' STYLE="border-color:#82A684; background-color:#EDEEEA ; color:#000000">
</form>
{% if listDbis %}
	<h4>List of the checked drugs</h4>
	<ul>
		{% for item in listDbis %}
			<li>{{item.0}} ({{item.1}})</li>
		{% endfor %}
	</ul>
	<hr>
	<h4>Interactions found</h4>
	{% if listI %}
		<table>
		    <thead>
			<th>Substance A</th>
			<th>Substance B</th>
			<th>Description</th>
			<th>Level</th>
		    </thead>

		    {% for row in listI %}
			<tr>
				<td>{{row.1}}</td>
				<td>{{row.2}}</td>
				<td>{{row.3}}</td>
				<td STYLE="background:{% if row.4 == 1 %}#b3ffb3{% elif row.4 == 2 %}#ecffb3
					   {% elif row.4 == 3 %}#ffffb3{% elif row.4 == 4 %}#ffd9b3
					   {% elif row.4 == 5 %}#ffb3b3{% endif %}">{{row.4}}</td>
			</tr>
		    {% endfor %}
		</table>
	{% else %}
		<p>No interactions found</p>
	{% endif %}
{% endif %}
</div>
<div class="col-md-4">
	<button class="collapsible">Interaction level explanation:</button>
	<div class="content-section">
		<h5>Level 0: Not established</h5>
		The interaction may theoretically occur due to its pharmacokinetics and pharmacodynamics. There have not been any established reports of the interaction.
		<h5>Level 1: Not clinically significant <span STYLE="color:#b3ffb3">&#9729;</span></h5>
		The interaction may occur, but the outcome is not clinically significant.
		<h5>Level 2: Caution <span STYLE="color:#ecffb3">&#9729;</span></h5>
		The interaction may occur based on the mechanism of action of the co-administered medicines. Be alert for increased or decreased effect, depending on the combination of medicines.
		<h5>Level 3: Minor <span STYLE="color:#ffffb3">&#9729;</span></h5>
		Clinical effects of the interaction are limited and may be bothersome but would not usually require a major change to therapy. The patient should be monitored for the possible manifestations of the interaction.
		<h5>Level 4: Major <span STYLE="color:#ffd9b3">&#9729;</span></h5>
		These medications may interact resulting in the potential deterioration of the patient's condition. The patient should be monitored for the possible manifestations of the interaction. Medical intervention or a change in therapy may be required.
		<h5>Level 5: Severe <span STYLE="color:#ffb3b3">&#9729;</span></h5>
		The interaction between these medications may be life-threatening or may cause permanent damage. These medications are not usually used concurrently; medical intervention may be required.
		<hr>
		<div class="nb_text">Source: https://www.mims.com/india/Viewer/Html/DrugAlertSig.htm</div><hr>
	</div>
	<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.maxHeight){
				content.style.maxHeight = null;
			} else {
				content.style.maxHeight = content.scrollHeight + "px";
			} 
		});
	}
	</script>
</div>
</div>
{% endblock content %}
