{% extends "DrugiComp/base.html" %}
{% block content %}

<h1>Statistics</h1>
<p>This is a try, it's not really what is going to stay on the page</p>
<form action="{% url 'DrugiComp-statistics' %}" method="POST">
	{% csrf_token %}
	<script>
		var cnt=2;
		function addField(){
			if(cnt<5){
				cnt=parseInt(cnt)+parseInt(1);
				var container=document.getElementById("container");
				var input=document.createElement("input");
				input.type="text";
				input.name="drug"+cnt;
				input.placeholder="Enter drug "+cnt;
				input.className = "form_text";
				container.appendChild(input);
			}
			else{
				document.getElementById("addbutton").disabled=true;
			}
		}
	</script>
	<h3>Interaction Checker</h3><hr>
	<input type="text" name="drug1" placeholder="Enter drug 1" class="form_text">
	<input type="text" name="drug2" placeholder="Enter drug 2" class="form_text">
	<div id="container"></div>
	<input type="button" id="addbutton" value="+" onclick="addField()"/>
	<input type='submit' value='Try!'>
</form>
<h4>List of the checked drugs</h4>
<ul>
	{% for item in listDbis %}
		<li>{{item.0}} ({{item.1}})</li>
	{% endfor %}
</ul>
<h4>Interactions found</h4>
{% if listI %}
	<table>
	    <thead>
	        <th>Substance A</th>
	        <th>Substance B</th>
	        <th>Level</th>
	    </thead>
	     
	    {% for row in listI %}
	        <tr>
	           <td>{{row.0}}</td>
	           <td>{{row.1}}</td>
	           <td>{{row.2}}</td>
	        </tr>
	    {% endfor %}
	</table>
{% else %}
	<p>No interactions found</p>
{% endif %}
{% endblock content %}
