{% extends "DrugiComp/base.html" %}
{% block content %}

<h1>Testpage</h1>
<p>This is a try, it's not really what is going to stay on the page</p>
<div>
	<form action="{% url 'DrugiComp-test' %}" method="POST">
		{% csrf_token %}
		<h3>Type a drug and find out which other drugs you cannot take with this one</h3>
		<hr>
		<input type="text" class="form_text" list="drug" name="drug" placeholder="Drug to test">
		<datalist id="drug">
			{% for drug in ldrugs %}
				<option value="{{ drug.0 }}"></option>
			{% endfor %}
		</datalist>
		<output name="x" for="drug"></output>
		<br>
		<br>
		<input type="submit" value="Find interactions" />
	</form>

	{% if drug %}
	<h4>You want to know which drugs you can't take together with:</h4>
	{{drug}} ({{subst}}, {{acc_nb}})
	<br>
	<hr>
	<h4>Drugs you should not take</h4>
	<ul>
		{% for row in ld %}
			<li>{{ row }}</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
{% endblock content %}
