{% extends "DrugiComp/base.html" %}
{% block content %}
<div>
	<form action="{% url 'DrugiComp-test' %}" method="POST">
		{% csrf_token %}
		<h3>Interaction Finder</h3>
		<hr>
		<input type="text" class="form_text" list="drug" name="drug" placeholder="Drug to test" style="border-color: #DDE5D9">
		<datalist id="drug">
			{% for drug in ldrugs %}
				<option value="{{ drug.0 }}"></option>
			{% endfor %}
		</datalist>
		<output name="x" for="drug"></output>
		<br>
		<h4>Optional information about yourself that we use to our statistics page</h4>
		<input list="age" name="age" placeholder="Age" style="border-color: #DDE5D9">
		<datalist id="age">
			<option value="Under 15">
			<option value="15-25">
			<option value="26-40">
			<option value="41-60">
			<option value="Over 60">
		</datalist>
		<br>
		<input list="gender" name="gender" placeholder="Gender" style="border-color: #DDE5D9">
		<datalist id="gender">
			<option value="Male">
			<option value="Female">
			<option value="Other / Do not want to state">
		</datalist>
		<br>
		<input list="continent" name="continent" placeholder="Continent" style="border-color: #DDE5D9">
		<datalist id="continent">
			<option value="Africa">
			<option value="Antarctica">
			<option value="Asia">
			<option value="Australia">
			<option value="Europe">
			<option value="North America">
			<option value="South America">
		</datalist>
		<br><br>
		<input type="submit" value="Find interactions" STYLE="border-color:#82A684; background-color:#EDEEEA ; color:#000000"/>
	</form>

	
	<h4>You want to know which drugs you can't take together with:</h4>
	{% if drug %}
	{{drug}} ({{subst}}, {{acc_nb}})
	{% endif %}
	<br>
	<hr>
	<h4>Drugs you should not take</h4>
	<ul>
	{% if ld %}
		{% for row in ld %}
			<li>{{ row }}</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>No interactions found</p>
	{% endif %}
</div>
{% endblock content %}
